$thumbnail_size: 65px;

.ArticleEntry {
    position: relative;
    width: 100%;
    height: 110px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #f4f4f4;
    background-position: center;
    transition: background 0.2s;
    cursor: pointer;

    
    .thumbnail_wrapper {
        display: inline-block;
        vertical-align: middle;
        border-radius: 5px;
        overflow: hidden;
        width: $thumbnail_size;
        height: $thumbnail_size;
    }

    .details_wrapper {
        padding-left: 15px;
        vertical-align: middle;
        box-sizing: border-box;
        display: inline-block;
        width: calc(100% - #{$thumbnail_size} - 40px);

        .title_author {
            .title {
                font-size: 1.4rem;
                line-height: 2rem;
                margin-bottom: 7px;
                color: #444;
                max-height: 4rem;
                overflow: hidden;
                position: relative;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .author {
                color: #aaa;
                font-size: 1.2rem;
                line-height: 1.8rem;
                max-height: 1.8rem;
                overflow: hidden;
            }
        }

        .date {
            padding-right: 10px;
            text-align: right;
            label {
                font-size: 1.1rem;
            }

            display: none;
        }
    }

    .button_wrapper {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        text-align: center;

        img {
            width: 13px;
            height: 13px;
        }
    }

    
}

.ArticleEntry::before  {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ArticleEntry:active  {
    background-color: #eee;
    background-size: 100%;
    transition: background 0s;

    .thumbnail_wrapper {
        background: #ddd;
        transition: background 0s;
    }
}


@media (min-width: 440px) {
    .ArticleEntry {
        &.selected {
            background-color: #5085ff;

            .details_wrapper {

                .title_author{

                    .title {
                        color: white;
                    }
        
                    .author {
                        color: white;
                    }

                }
            }
        }
    }
}